/automation/appsettings.json
/automation/bin
/automation/obj
/automation/.config
/automation/.idea
/automation/.storage
/automation/logs
/automation/Dockerfile
/automation/NetDaemonCodegen
/automation/Release
.idea